/*Generalized section*/
body { padding: 0px; margin: 0px; }
div { height: inherit;}

@media print {
	@page {
		margin: 2cm;
	}
}

/*Menu section*/
nav.menu { margin-bottom: 5px;}
.banner nav.menu li a { padding: 10px 10px; }
nav.menu { display: inline-block; }
nav.menu ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav.menu li { display: inline-block; }
nav.menu li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
nav.menu li a:hover { background-color: #111; }

/*Blocks section*/
div.block-header {
	font-weight: bold;
	color: white;
	background-color: #333;
	margin-bottom: 5px;
	padding: 5px 0px;
}

.input { margin-top:1%;}
/*User controls section*/
div.user-input {
	background-color: #EEE;
	border: 1px solid #000;
	border-radius: 15px;
	margin-bottom: 5px;
	padding: 10px;
}
.button { color: #FFF; background-color: #333; }

/*Auto complete section*/
.ui-autocomplete { background-color: #FFF; }

/*Coloring backgrounds for pokemon types*/
.bug { background-color: #A8B820 !important; }
.dark { background-color: #666 !important; }
.dragon { background-color: #cc9900 !important; }
.electric { background-color: #F8D030 !important; }
.fairy { background-color: #ff69b4 !important; }
.fighting { background-color: #CC0000 !important; }
.fire { background-color: #F08030 !important; } 
.flying { background-color: #A890F0 !important; }
.ghost { background-color: #705898 !important; }
.grass { background-color: #78C850 !important; } 
.ground { background-color: #E0C068 !important; }
.ice { background-color: #98D8D8 !important; }
.normal { background-color: #A8A878 !important; }
.poison { background-color: #A040A0 !important; }
.psychic { background-color: #F85888 !important; }
.rock { background-color: #B8A038 !important; }
.steel { background-color: #B8B8D0 !important; }
.water { background-color: #6890F0 !important; }
.null {background-color: #666 !important; }

/*Coloring borders for pokemon types*/
.bugborder { border-color: #A8B820 !important; }
.barkborder { border-color: #666 !important; }
.dragonborder { border-color: #cc9900 !important; }
.electricborder { border-color: #F8D030 !important; }
.fairyborder { border-color: #ff69b4 !important; }
.fightingborder { border-color: #CC0000 !important; }
.fireborder { border-color: #F08030 !important; } 
.flyingborder { border-color: #A890F0 !important; }
.ghostborder { border-color: #705898 !important; }
.grassborder { border-color: #78C850 !important; } 
.groundborder { border-color: #E0C068 !important; }
.iceborder { border-color: #98D8D8 !important; }
.normalborder { border-color: #A8A878 !important; }
.poisonborder { border-color: #A040A0 !important; }
.psychicborder { border-color: #F85888 !important; }
.rockborder { border-color: #B8A038 !important; }
.steelborder { border-color: #B8B8D0 !important; }
.waterborder { border-color: #6890F0 !important; }
.nullborder {border-color: #666 !important; }

.border { width: initial; border: outset 3px #333; border-radius: 6px; }
.fixed {
	position: fixed;
	top: 0px;
	z-index: 100;
}
.icon {
	max-width: 25px;
	vertical-align: inherit;
}
.nav-icon-menu ul { padding-left:0px; margin-top: 0px; }
.nav-icon-menu ul li { display: -webkit-inline-box; }
.nav-icon-menu ul a:hover { 
	position: relative;
	top: 1px;
	left: 1px;
	background-color: #111;
}

/*Data tables*/
table tr:first-child { background-color: #333; color: white; }
table tr:nth-child(even) { border: 1px solid #EEE; background-color: #EEE; }
table tr:not(:first-child):hover { background-color: lightblue; }
table tr td { padding: 10px; text-align: center; }
table tr th { padding: 10px; }

.header { text-align: center; font-weight: bold; }
.label { text-align: left; 	font-weight: bold; }

.flex { display: inline-flex;}
.underline { border: 1px solid #333; }
.fancy {
	font-family: cursive;
	font-style: italic;
	font-weight: bold;
}

.ui-tooltip-content {
	background-color: #333;
	color: white;
	border-radius: 15px;
	border: 3px solid lightblue;
	padding: 5px;
}

.move-header { border: 2px 2px 0px 2px outset #000; }
.move-content { border: 2px 2px 2px 0px outset #000; }
.move-content p { margin-bottom: 5px; line-height: 1em; }


/*pokemon*/
article.pokemon { min-width: 250px; margin-bottom: 5px; margin-left: 1%;}
article.pokemon:not([style*="display:none"]):nth-child(4n+1) { margin-left: 0px; }
article.pokemon:not([style*="display:none"]):nth-child(4n+1):hover { margin-left: 0.2%; background-color: lightblue; }
article.pokemon:hover { margin-left: 1.2%; background-color: lightblue; }
/*.pokepic { max-width: 250px; }*/